<mat-toolbar color="primary" class="topbar">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput placeholder="Search">
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="main-container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" [opened]="sidebarOpen" class="sidenav">
        <mat-nav-list>
          <mat-list-item *ngFor="let menu of menus" (click)="toggleSubmenu(menu)">
            <mat-icon matListIcon>{{ menu.icon }}</mat-icon>
            <span *ngIf="sidebarOpen">{{ menu.name }}</span>
            <mat-nav-list *ngIf="menu.submenus && menu.open">
              <mat-list-item *ngFor="let submenu of menu.submenus">
                <mat-icon matListIcon>{{ submenu.icon }}</mat-icon>
                <span>{{ submenu.name }}</span>
              </mat-list-item>
            </mat-nav-list>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  